body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f8f3;
    padding: 10px;
    color: rgb(12, 6, 6);
}

header .logo {
    font-size: 12px;
}

header .social-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.menubar {
    background-color: #333;
    overflow: hidden;
}

.menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menubar li {
    float: left;
}

.menubar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menubar li a:hover {
    background-color: #111;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
}

.content {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
}

.box {
    width: calc(33.333% - 20px);
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.box img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
